body{
	font-family: 'Century Gothic', sans-serif;
	text-align: center;
	margin: 0;
}

#main {
	margin: 30px 5px;
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to bottom, #ffe6e6 -15%, #bfbfbf 100%);
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

#img-div{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 15px;
	border-radius: 10px;
	margin: 0;
}

#img-caption{
	margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

h1 {
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}
